
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/registerPageStyle/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <title>Login | Image Dump</title>
    </head>
    <body>
        <div class="body">
            <div class="logo">
                <div>
                    <a  class="nav-image" href="/"><img src="img/logo2.png" alt="image-Dump"></a>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
                         veniam dolores! Adipisci eaque libero quod? Exercitationem rem 
                         adipisci aut id officia, magni dolores. Possimus impedit labore 
                         deserunt placeat cupiditate voluptate reiciendis, minima ipsa 
                         doloremque nisi fuga odit quas dolorum earum laudantium enim sunt 
                         nostrum eos quibusdam! Dolorum perferendis impedit eligendi neque 
                         ipsa maxime, odio in quas provident? Architecto aut similique fugit 
                         magnam facere. Modi illo fugiat, ad deserunt velit alias!</span>
                </div>
            </div>
            <div class="form-area">
                <form action="/login" method="POST" novalidate>
                    <h1>LOGIN</h1>
                    <div class="username">
                        <label for="email">EMAIL</label>
                        <input type="email" name="email" placeholder="Type in your email">
                    </div>
                    <div class="password">
                        <label for="password">PASSWORD</label>
                        <input type="password" name="password" placeholder="Type in a password">
                    </div>
                    <button type="submit">LOGIN</button>
                </form>
                <div class="spans">
                    <span>LOGIN IN WITH<a href="/"><i class="fab fa-google"></i></a></span><br>
                </div>
            </div>
        </div>
    </body>
    </html>