<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registerPageStyle/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    <div class="body">
        <div class="logo">
            <div>
                <a  class="nav-image" href="/"><img src="img/logo2.png" alt="image-Dump"></a>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
                     veniam dolores! Adipisci eaque libero quod? Exercitationem rem 
                     adipisci aut id officia, magni dolores. Possimus impedit labore 
                     deserunt placeat cupiditate voluptate reiciendis, minima ipsa 
                     doloremque nisi fuga odit quas dolorum earum laudantium enim sunt 
                     nostrum eos quibusdam! Dolorum perferendis impedit eligendi neque 
                     ipsa maxime, odio in quas provident? Architecto aut similique fugit 
                     magnam facere. Modi illo fugiat, ad deserunt velit alias!</span>
            </div>
        </div>
        <div class="form-area">
            <form action="/register" method="POST">
                <h1>CREATE AN ACCOUNT</h1>
                <div class="username">
                    <label for="username">USERNAME</label>
                    <input type="text" name="username" placeholder="Type in a username">
                </div>
                <div class="email">
                    <label for="email">EMAIL</label>
                    <input type="email" name="email" placeholder="Somebody@example.com">
                </div>
                <div class="password">
                    <label for="password">PASSWORD</label>
                    <input type="password" name="password" placeholder="Type in a password">
                </div>
                <button type="submit">SIGN UP</button>
            </form>
            <div class="spans">
                <span>SIGN IN WITH<a href="/"><i class="fab fa-google"></i></a></span><br>
                <span>ALREADY HAVE AN ACCOUNT?<a href="/login"><i class="fas fa-sign-in-alt"></i></a></span>
            </div>
        </div>
    </div>
</body>
</html>