@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  margin-right: 20px;
  scroll-margin-left: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: white;
}

a:link {
  text-decoration: none;
  color: red;
}

.navbar {
  width: 100%;
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

.navbar .nav-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: auto;
}

.navbar .nav-area .nav-image :hover {
  border: none;
}

.navbar .nav-area img {
  padding: 20px;
  height: 30px;
  width: 60;
  margin-right: 70%;
}

.navbar .nav-area ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-area ul li {
  list-style: none;
  color: #FFFFFF;
}

.navbar .nav-area ul li a {
  color: black;
  font-weight: bold;
  padding-right: 17px;
}

.navbar .nav-area ul li a :hover {
  text-decoration: underline;
}

.navbar .nav-area ul .nav-item {
  padding: 20px;
}

.navbar .nav-area a button {
  padding: 10px;
  width: 120px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  background: black;
  font-size: 15px;
  font-weight: bold;
}

.navbar .nav-area a :hover {
  background-color: transparent;
  border: black 1px solid;
  color: black;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
  height: 80vh;
  background-color: rgba(19, 20, 24, 0.9);
  width: 100%;
  position: absolute;
}

.main .searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 70px;
  height: 60vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .searchBar h1 {
  margin-bottom: 10px;
  font-size: 45px;
  color: #FFFFFF;
}

.main .searchBar input {
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 30px;
}

.main .searchBar span {
  color: white;
  margin-bottom: 40px;
  width: 50%;
}

.overlay {
  height: 80vh;
  width: 100%;
  background-image: url("../img/body1.jpg");
  background-size: cover;
  position: relative;
  z-index: -1;
}

.images-display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px 5px;
  width: 70%;
  margin: auto;
  margin-top: 100px;
}

.images-display img {
  width: 400px;
}
/*# sourceMappingURL=style.css.map */