@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');



$primary-color: #B4161B;
$secondary-color: #FFFFFF;
$tetiary-color: black;
$primary-font: 'Poppins', sans-serif;

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: $primary-font;
    overflow-y: scroll;
}


html {
    --scrollbarBG: #FFFFFF;
    --thumbBG: black;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }


a:link {
    text-decoration: none;
    color: red;
}

.navbar {
    
    // padding-top: 10px;
    width: 100%;
    background-color: $secondary-color;
    position: sticky;
    z-index: 1;
    
    .nav-area {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: auto;

        .nav-image {
            :hover {
                border: none;
            }
        }
    
        img {
            padding: 20px;
            height: 30px;
            width: 60;
            margin-right: 70%;
    
        }
    
    
        ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
    
            li {
                list-style: none;
                color: $secondary-color;
                
           
    
                a {
                    color: $tetiary-color;
                    font-weight: bold;
                    padding-right: 17px;
    
                    :hover {
                        // border: $secondary-color 1px solid;
                        text-decoration: underline;
                    }
                }
            }
    
            .nav-item {
                padding: 20px;
            }
    
        }
    
        a {    
    
            button {
                padding: 10px;
                width: 120px;
                border: none;
                border-radius: 5px;
                color: $secondary-color;
                background: $tetiary-color;
                font-size: 15px;
                font-weight: bold;
    
                
            }
    
            :hover {
                    background-color: transparent;
                    border: $tetiary-color 2px solid;
                    color: $tetiary-color;
                    cursor: pointer;
                    
            }
        }
    }
    
    
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.main {
    height: 80vh;
    background-color: rgba(19,20,24, 0.9    );
    width: 100%;
    position: absolute;



    
    .searchBar {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
        margin-top: 70px;
        height: 60vh;
        align-items: flex-start;
        justify-content: center;

        
        
        h1 {
            margin-bottom: 10px;
            font-size: 45px;
            color: 	$secondary-color;
        }

        input {
            width: 100%;
            padding: 15px;
            border-radius: 6px;
            margin-bottom: 30px;
        }

        span {
            color: white;
            margin-bottom: 40px;
            width: 50%;
        }
    }
}


.overlay {
    height: 80vh;
    width: 100%;
    background-image: url('../../img/body1.jpg');
    background-size: cover;
    position: relative;
    z-index: -1;
}

.images-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: ;
    gap: 20px 5px;
    width: 70%;
    margin: auto;
    margin-top: 100px;

    img {
        width: 400px;
    }
}