<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homePageStyle/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Image Dump</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-area">
            <a  class="nav-image" href="/"><img src="../img/logo.png" alt="image-Dump"></a>
            <ul class="nav-items">
                <li class="nav-item"><a href="">Account</a></li>
                <li class="nav-item"><a href="">Upload Photo</a></li>
                <a href="/auth/register"><button>Join</button></a>
                <!-- <li class="nav-item"><a href=""></a></li> -->
            </ul>
        </div>
    </nav>
    <section class="main">
        <div class="searchBar">
            <h1>Image Dump</h1>
            <span>source for images from <u>photographers all around the world</u>, share and experience moments</span>
            <input type="search" placeholder="search for memories......" >
            <span>see and share memories....</span>
        </div>
    </section>
    <div class="overlay">
    </div>

    <section class="images-display">
        <img src="img/1.jpg" alt="">
        <img src="img/2.jpg" alt="">
        <img src="img/3.jpg" alt="">
        <img src="img/4.jpg" alt="">
        <img src="img/5.jpg" alt="">
        <img src="img/6.jpg" alt="">
        <img src="img/7.jpg" alt="">
        <img src="img/8.jpg" alt="">
        <img src="img/9.jpg" alt="">
        <img src="img/010.jpg" alt="">
        <img src="img/011.jpg" alt="">
    </section>

    <script src="js/script.js"></script>
</body>
</html>
