@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');



$primary-color: #B4161B;
$secondary-color: #FFFFFF;
$tetiary-color: black;
$primary-font: 'Poppins', sans-serif;
$input-background: rgba(149, 149, 149, 0.3);

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: $primary-font;
    overflow-y: scroll;
}


html {
    --scrollbarBG: #FFFFFF;
    --thumbBG: black;
}
body::-webkit-scrollbar {
width: 11px;
}
body {
scrollbar-width: thin;
scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
background-color: var(--thumbBG) ;
border-radius: 6px;
border: 3px solid var(--scrollbarBG);
}

.body {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: $tetiary-color;
    height: 100%;

    div {
        width: 60%;
        margin: auto;
        padding-bottom: 50px;
        

        img {
            padding: 0px;
            padding-bottom: 50px;
            width: 240px;
            height: 60px;
        }

        span {
            color: $secondary-color;
        }
    }
}

.form-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .spans {
        text-align: center;

        span {
            margin: 40px 0px 40px 0px;

            a {
                i {
                    font-size: 25px;
                    padding: 10px;
                    padding-top: 5px;
                    color: $primary-color;
                }
            }
        }
    }
}

img {
    padding: 20px;
    height: 40px;
    width: 160px;
    margin-right: 70%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 45%;
    margin: auto;
    box-shadow: 0px 0px 10px $input-background;
    border-radius: 20px;
    margin-bottom: 40px;

    h1 {
        margin-bottom: 25px;
        font-size: 25px;
    }

    div {
        text-align: center;
        margin: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        label {
            font-size: 15px;
            padding-bottom: 20px;
            align-self: flex-start;
            margin-left: 65px;
        }

        input {
            width: 70%;
            height: 30px;
            padding: 25px;
            border-radius: 5px;
            outline: none;
            border: none;
            background-color: $input-background;
            color: $tetiary-color;
            font-size: 15px;
            margin-top: -15px;
        }

        input:focus {
            // border: 1px solid white;
            box-shadow: 0 0 5px rgba(149, 149, 149, 0.8)
        }

     
    }

    button {
        width: 120px;
        height: 40px;
        align-self: flex-end;
        margin-right: 65px;
        margin-top: 20px;
        border-radius: 5px;
        outline: none;
        border: none;
        background-color: $tetiary-color;;
        color: $secondary-color;
        font-size: 12px;

    
    }

    button:hover {
        background-color: transparent;
        border: $tetiary-color 2px solid;
        color: $tetiary-color;
        cursor: pointer;
    }
}